# Temporary files
*.o
*~
*.sw[op]
*.log

# Autotools
Makefile
Makefile.in
.dirstamp
/configure
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/depcomp
/install-sh
/missing
/stamp-h1
/INSTALL

# Libtool
*.l[ao]
.libs/
.deps/
/ltmain.sh
/libtool

# Output binaries
/cli/one-video-app
